// Colors
$dark-gray: #222222
$light-gray: #333333
$gradient-start: #f10001
$gradient-end: #7f044c

$linear-gradient: linear-gradient(130deg, $gradient-start 0%, $gradient-end 100%);
$overlay-opacity: 0.8
$linear-gradient-overlay: linear-gradient(130deg, rgba($gradient-start, 0.95) 0%, rgba($gradient-end, $overlay-opacity) 100%);

// Layout
$content-width: 1320px

// Other
$background-url: '../assets/img/bg.jpg'
$animation-time: 0.3s